<h2>My Hospitals</h2>

<ul class="hospitals">
  <li *ngFor="let hospital of hospitals">
    <a routerLink="/detail/{{hospital.id}}">
      <span class="badge">{{hospital.id}}</span> {{hospital.name}}
    </a>
    <button type="button" class="delete" title="delete hospital"
      (click)="delete(hospital)">x</button>
  </li>
</ul>

<div>
  <label for="new-hospital">Hospital name: </label>
  <input [(ngModel)]="hospitalName" />

  <button type="button" class="add-button" (click)="addHospital()">
    Add hospital
  </button>
</div>
