<div *ngIf="hospital">
  <h2>{{hospital.name | uppercase}} Details</h2>
  <div>
    <span>ID: </span>{{hospital.id}}
  </div>
  <div>
    <div>
        <span>Name: </span>{{hospital.name}}
    </div>
    <div>
        <span>Address: </span>
        <span>{{hospital.address.line1}}, </span>
        <span *ngIf="hospital.address.line2">{{hospital.address.line2}}, </span>
        <span>{{hospital.address.city}}, </span>
        <span>{{hospital.address.state}} </span>
        <span>{{hospital.address.zipCode}}</span>
    </div>
    <div>
        <label for="rating">Rating: </label>
        <input id="rating" [(ngModel)]="hospital.rating" placeholder="rating" >
    </div>
</div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>
